<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omdasoft.simcemovil.nat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/nat"
        android:label="@string/app_name" >
        <activity
            android:name="com.omdasoft.simcemovil.member.InformationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.omdasoft.simcemovil.member.GraphicalActivity" />
        <activity android:name="com.omdasoft.simcemovil.member.AboutusActivity" />
        <activity android:name="com.omdasoft.simcemovil.member.DoTestActivity" />
        <activity android:name="com.omdasoft.simcemovil.member.CheckAnswerActivity" />
    </application>

</manifest>